:root {
	--bg: #222831;
	--bg2: #393E46;
	--teal: #00ADB5;
	--white: #EEEEEE
}

body {
	/* background-color: #282423; */
	background-color: var(--bg);
	font-family: "Silkscreen";
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
	color: var(--teal);
	text-align: center;
	font-size: 34px;
	padding: 5px;
}

.container {
	max-width: 1200px;
	width: 95%;
	margin: 0px auto;
	padding: 20px;
	text-align: center;
}

.watch-button:hover {
	background-color: #A3BE8C;
}

.video_player {
	width: 900px;
	border-radius: 10px;
	border: none;
	margin: 10px auto;
}

.foot {
	text-align: center;
    font-family: "Atkinson Hyperlegible";
    color: white;
    padding: 10px;
	padding-top: 20px;
    margin-top: auto; /* Push the footer to the bottom */
}

.temp1 {
	overflow: auto;
}

.episodesButtons {
	max-width: 700px;
	margin: 10px auto;

	border-style: dashed;
	padding: 20px;
	border-color: var(--bg2);
	border-radius: 8px;
	text-align: center;

	max-height: 500px;
	overflow-y: auto;
}

.episodesButtons::-webkit-scrollbar {
	width: 0px;
}

.watch-button {
	width: 50px;
	font-size: 16px;
	background-color: var(--teal);
	font-family: "Atkinson Hyperlegible";
	color: var(--bg2);

	border: none;
	border-radius: 5px;
	cursor: pointer; 

	padding: 8px;
	margin: 5px;
}

@media (min-width: 320px) and (max-width: 768px) {
	.video_player {
		width: 95%;
	}
}